<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Case</h3>
    </div>
    <div class="panel-body">
      <div class="btn-group" data-toggle="buttons">
        <label type="button" value=0 class="btn c btn-primary active">
         <input type="radio" Id="case" name="options" id="case1" autocomplete="off" checked></input>
         <img src="/images/Diablotek.jpg" alt="Diablotek" /> <br/>
         Diablotek Diamond Case
        </label>
        <label type="button" value=1 class="btn c btn-primary">
         <input type="radio" Id="case" name="options" id="case2" autocomplete="off"></input>
         <img src="/images/Diablotek.jpg" alt="Diablotek" /> <br/>
         Diablotek Diamond Case
        </label>
        <label type="button" value=2 class="btn c btn-primary">
         <input type="radio" Id="case"name="options" id="case3" autocomplete="off"></input>
         <img src="/images/Diablotek.jpg" alt="Diablotek" /> <br/>
         Diablotek Diamond Case
        </label>
      </div>
    </div>
  </div>

  <span id="val" case=3 mb=3></span>

  <script>
 



  $(function() {
      $('.c').click(function() {
        c = $(this).attr('value');
      });
  });
  </script>
  <br/>
  <br/>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Motherboard</h3>
    </div>
    <div class="panel-body">
      <div class="btn-group" data-toggle="buttons">
        <label type="button" value=1 class="btn m btn-primary active">
         <input type="radio" name="options" id="option1" autocomplete="off" checked></input>
         <img src="/images/600.jpg" width="256" height="256" alt="Diablotek" /> <br/>
         E33 Motherboard
        </label>
        <label type="button" value="2" class="btn m btn-primary">
         <input type="radio" name="options" id="option2" autocomplete="off"></input>
         <img src="/images/600.jpg" alt="Diablotek" /> <br/>
         E33 Motherboard
        </label>
        <label type="button" value="3" class="btn m btn-primary">
         <input type="radio" name="options" id="option2" autocomplete="off"></input>
         <img src="/images/600.jpg" alt="Diablotek" /> <br/>
         E33 Motherboard
        </label>
      </div>
    </div>
  </div>

  <script>
  $(function() {
      $('.m').click(function() {
        m = $(this).attr('value');;
      });
  });
  </script>
  <br/>
  <br/>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">RAM Memory</h3>
    </div>
    <div class="panel-body">
      <div class="btn-group" data-toggle="buttons">
        <label type="button" value=1 class="btn r btn-primary active">
         <input type="radio" name="options" id="option1" autocomplete="off" checked></input>
         <img src="/images/600.jpg" width="256" height="256" alt="Diablotek" /> <br/>
         E33 Motherboard
        </label>
        <label type="button" value="2" class="btn r btn-primary">
         <input type="radio" name="options" id="option2" autocomplete="off"></input>
         <img src="/images/600.jpg" alt="Diablotek" /> <br/>
         E33 Motherboard
        </label>
        <label type="button" value="3" class="btn r btn-primary">
         <input type="radio" name="options" id="option2" autocomplete="off"></input>
         <img src="/images/600.jpg" alt="Diablotek" /> <br/>
         E33 Motherboard
        </label>
      </div>
    </div>
  </div>

  <script>
  $(function() {
      $('.r').click(function() {
        r = $(this).attr('value');;
      });
  });
  </script>
  <br/>
  <br/>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
